.bottom-navbar {
  position: fixed;
  bottom: 105px;
  height: 55px;
  width: 375px;
  background-color: #161616;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 18px;
  color: #d4d3d3;
}

.plus{
  background-color: #fff;
  color: #161616;
  padding: 5px 10px;
  border-radius: 25%;
  border-right: 5px solid red;
  border-left: 5px solid turquoise;
  font-size: 12px;
}

.item-name {
  color: #d4d3d3;
  font-size: 10px;
  margin-top: 2px;
}

.bottom-navbar .active {
  color: #fff;
}

.notification {
  position: absolute;
  top: 5px;
  left: 270px;
  background-color: red;
  color: #fff;
  font-size: 8px;
  padding: 5px;
  border-radius: 50%;
}