.profile-image-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    overflow: hidden; 
}

.full-profile-image {
    width: 100%; 
    display: block;
    object-fit: cover;
    margin-bottom: -77px;
}

.clickable-box {
    position: absolute;
    width: 29.59%; 
    height: 2.34%; 
    top: 94.83%;        
    left: 50%;          
    transform: translateX(-50%); 
    cursor: pointer;    
    background-color: rgba(255, 255, 255, 0.3);  /* For visualization. You can remove this or set opacity to 0 once you have verified its position. */
}
